@import "../../style/variables.scss";
@import "../../style/helpers.scss";

.modal-auth {
    max-height: 70vh;
    display: grid;
    row-gap: 40px;
    overflow-y: scroll;
    &_switch {
        width: 100%;
        height: 35px;
    }
    &_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 20px;
    }
    &_input {
        width: 60%;
        height: 30px;
        text-align: center;
        background: none;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid white;
        color: white;
        font-size: 15px;
    }
}
