@import "../../style/helpers.scss";
@import "../../style/variables.scss";

.single-page {
    width: 100%;
    height: calc(100vh - 55px - 100px);
    position: relative;
    &_background {
        object-fit: cover;
        @extend %wh-100;
        -webkit-mask-image: linear-gradient(
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1) 40%,
            rgba(0, 0, 0, 1) 60%,
            rgba(0, 0, 0, 0)
        );
        mask-image: linear-gradient(
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1) 40%,
            rgba(0, 0, 0, 1) 60%,
            rgba(0, 0, 0, 0)
        );
    }
    &_information {
        @extend %display-row, %wh-100;
        position: absolute;
        top: 0;
        left: 0;
        justify-content: space-around;
        &_container {
            max-width: 700px;
            max-height: calc(100% - 40px);
            color: $white;
            margin-left: 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &_transparent {
                width: 100%;
                color: $white;
                background: rgba(39, 39, 39, 0.4);
                border-radius: 10px;
                margin-top: 15px;
                overflow-y: scroll;
                font-size: 17px;
                p {
                    padding: 8px 10px 0 10px;
                }
            }
            &_header {
                width: 100%;
                display: grid;
                grid-template-columns: auto auto auto;
                column-gap: 15px;
                row-gap: 15px;
                .stars {
                    height: 100%;
                    @extend %display-row;
                }
            }
        }
        &_main {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        &_status {
            height: 100%;
            @extend %display-row;
            justify-content: end;
            p {
                max-width: 150px;
                padding: 20px;
                height: 50px;
                background: rgba(39, 39, 39, 0.4);
                border-radius: 10px;
                font-size: 18px;
                @extend %display-row;
                justify-content: center;
                text-align: center;
            }
        }
        &_title {
            color: $main-color;
            font-size: 23px;
            text-align: center;
        }
        &_tagline {
            color: $white;
            font-size: 20px;
            text-align: center;
            margin-top: 5px;
        }
        &_label {
            color: $main-color;
        }
        &_overview {
            margin-top: 20px;
        }
        a {
            text-decoration: underline;
        }
    }
}

.poster {
    width: 300px;
    min-width: 250px;
    border-radius: 10px;
}

.button_border {
    border-left: 1px solid $white;
}

.button_sticky {
    position: sticky;
    bottom: 0;
}

@media only screen and (max-width: 800px) {
    .single-page {
        height: auto;
        position: relative;
        padding: 20px;
        &_background {
            position: absolute;
            height: 510px;
            top: 0;
            left: 0;
        }
    }
    .single-page_information_container_header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .single-page_information {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        &_container {
            margin: 0;
        }
    }
    .poster {
        margin-bottom: 20px;
    }
    .single-page_information_status {
        width: 100%;
        justify-content: center;
        p {
            width: 100%;
            max-width: none;
        }
    }
}
