@import "../../style/variables.scss";
@import "../../style/helpers.scss";

.modal-filters {
    max-height: 70vh;
    padding: 20px;
    display: grid;
    row-gap: 15px;
    overflow-y: scroll;
}

.filter_container {
    @extend %display-row;
    width: 100%;
    .label {
        color: $main-color;
    }
    .input-label {
        color: $white;
        margin-left: 5px;
    }
    &_values-type {
        margin-left: 20px;
    }
    &_values {
        margin-left: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        row-gap: 5px;
    }
    input {
        cursor: pointer;
    }
    .stars {
        margin-left: 5px;
    }
}

.filter_container-countries {
    @extend %display-column-CC;
    width: 100%;
    .label {
        color: $main-color;
        margin-bottom: 10px;
    }
    .container-select {
        width: 100%;
    }
}

.button_sticky {
    position: sticky;
    bottom: 0;
}

@media only screen and (max-width: 500px) {
    .filter_container_values {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 400px) {
    .filter_container_values {
        grid-template-columns: repeat(1, 1fr);
    }
}
