@import "../../style/variables.scss";
@import "../../style/helpers.scss";

.modal-filters {
    max-height: 70vh;
    display: grid;
    row-gap: 15px;
    overflow-y: scroll;
    padding-top: 10px;
    button {
        cursor: pointer;
        width: 50%;
        height: 100%;
    }
    .button_border {
        position: relative;
    }
    .button_border::before {
        content: "";
        position: absolute;
        top: 10%;
        left: 0;
        height: 80%;
        width: 2px;
        background-color: $white;
    }
}

.filter_container {
    width: 100%;
    padding: 0 20px;
    @extend %display-row;
    &_col {
        @extend %display-column-CC;
        row-gap: 10px;
    }
    .drop-down_list {
        @extend %display-row;
        width: 100%;
        column-gap: 20px;
        margin-bottom: 10px;
        cursor: pointer;
        img {
            width: 25px;
        }
    }
    .label {
        color: $main-color-light;
    }
    .input-label {
        color: $white;
        margin-left: 5px;
    }
    &_values-type {
        margin-left: 20px;
    }
    &_values {
        margin-left: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        row-gap: 5px;
    }
    input {
        cursor: pointer;
    }
    .stars {
        margin-left: 10px;
    }
}

.filter_container-countries {
    @extend %display-column-CC;
    width: 100%;
    padding: 0 20px 7px 20px;
    .label {
        color: $main-color-light;
        margin-bottom: 10px;
    }
    .container-select {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .filter_container_values {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 400px) {
    .filter_container_rating {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
    }
    .filter_container_values {
        grid-template-columns: repeat(1, 1fr);
    }
}
