@import "../../style/variables.scss";

.calendar {
    width: 30%;
    background-color: rgba(124, 124, 124, 0.5);
    border-radius: 10px;
    overflow: hidden;
    &_header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        padding: 10px 0;
        background: $dark-grey;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        font-size: 17px;
    }
    &_days {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 5px;
        place-items: center;
        padding: 15px;
    }
    &_day {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        border: $dark-grey 1px solid;
        width: 23px;
        height: 23px;
        p {
            font-size: 13px;
            color: rgba(255, 255, 255, 1);
        }
    }

    .no-views {
        background: rgba(50, 50, 50, 0.6);
        p {
            color: rgba(255, 255, 255, 0.5);
        }
    }
    .few-views {
        background: rgba(159, 0, 19, 0.3);
    }
    .average-views {
        background: rgba(159, 0, 19, 0.6);
    }
    .lot-views {
        background: $main-color;
    }

    &_empty-day {
        visibility: hidden;
    }
}

@media only screen and (max-width: 800px) {
    .calendar {
        width: 50%;
    }
}

@media only screen and (max-width: 500px) {
    .calendar {
        width: 100%;
    }
}
