@import "../../style/variables.scss";
@import "../../style/helpers.scss";

.movie {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    height: 370px;
    background-color: $dark-grey;
    border: 1px rgb(36, 36, 36) solid;
    margin: 20px 30px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    &_wasViewed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(39, 39, 39, 0.5);
    }
    img {
        width: 100%;
        height: 280px;
    }
    &_information {
        height: calc(370px - 280px);
        padding: 10px;
        @extend %display-column-CC;
        overflow: hidden;
        p {
            text-align: center;
            color: $white;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1.5em;
            max-height: 100%;
        }
    }
    &_rating-stars {
        position: absolute;
        left: 0;
        top: calc(280px - 15px);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 1000px) {
    .movie {
        margin: 20px 10px;
    }
}

@media only screen and (max-width: 500px) {
    .movie {
        width: 150px;
        min-width: 150px;
        max-width: 150px;
        height: 300px;
        margin: 10px 10px;
        img {
            height: 230px;
        }
        &_information {
            height: calc(300px - 230px);
        }
        &_rating-stars {
            top: calc(230px - 15px);
        }
    }
}

@media only screen and (max-width: 380px) {
    .movie {
        width: 135px;
        min-width: 135px;
        max-width: 135px;
        margin: 5px 5px;
    }
}
