@import "../../style/variables.scss";
@import "../../style/helpers.scss";

.movie {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    height: 370px;
    background-color: $dark-grey;
    border: 1px rgb(36, 36, 36) solid;
    margin: 20px 30px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    &_wasViewed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(39, 39, 39, 0.5);
    }
    img {
        width: 100%;
        height: 280px;
    }
    &_information {
        height: calc(370px - 280px);
        padding: 10px;
        @extend %display-column-CC;
        overflow: hidden;
        p {
            text-align: center;
            color: $white;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1.5em;
            max-height: 100%;
        }
    }
    &_rating-stars {
        position: absolute;
        left: calc(100% / 2 - 54px);
        top: 259px;
    }
}

@media only screen and (max-width: 1000px) {
    .movie {
        margin: 20px 10px;
    }
}
