@import "../../style/variables.scss";
@import "../../style/helpers.scss";

.header {
    width: 100%;
    color: $white;
    position: sticky;
    top: 0;
    z-index: 990;
}

.main-panel {
    @extend %display-row;
    justify-content: space-between;
    width: 100%;
    height: 55px;
    background: rgba(39, 39, 39, 0.5);
    padding: 10px 30px;
    &_logo {
        @extend %display-row;
        column-gap: 10px;
        cursor: pointer;
        img {
            width: 35px;
            height: 35px;
        }
    }
    &_toolbar {
        height: 100%;
        margin-left: 20px;
        @extend %display-row;
        column-gap: 10px;
    }
    &_search {
        min-width: 200px;
    }
    &_menu {
        height: 90%;
        cursor: pointer;
    }
}

.additional-panel {
    @extend %display-row;
    justify-content: space-between;
    width: 100%;
    background: rgba(39, 39, 39, 0.5);
    padding: 10px 30px;
    position: absolute;
    &_links {
        @extend %display-row;
        column-gap: 10px;
    }
    &_button {
        @extend %display-column-CC;
        cursor: pointer;
        font-size: 17px;
        padding: 5px 15px;
        background: $main-color;
        border-radius: 5px;
        color: $white;
        &_sign-in {
            @extend %display-column-CC;
            cursor: pointer;
            font-size: 17px;
            padding: 5px 15px;
            background: $white;
            border-radius: 5px;
            color: $main-color;
        }
    }
    &_switch {
        height: 30px;
        width: 100px;
    }
}

@media only screen and (max-width: 1000px) {
    .main-panel,
    .additional-panel {
        padding: 10px;
    }
}

@media only screen and (max-width: 600px) {
    .main-panel {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 5px;
        row-gap: 5px;
    }
    .main-panel_toolbar {
        align-items: center;
        justify-content: center;
        margin-left: 0;
    }
    .main-panel_menu {
        width: 35px;
        height: 35px;
    }
    .additional-panel {
        padding: 0 10px 10px 10px;
    }
}

@media only screen and (max-width: 530px) {
    .additional-panel {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 5px;
        row-gap: 5px;
    }
    .additional-panel {
        padding: 0 10px 10px 10px;
    }
    .main-panel_toolbar {
        align-items: center;
        justify-content: center;
        margin-left: 0;
    }
}
